nav {
  background-color: #F55A5A;
  height: 55px;
  justify-content: center;
  display: flex;
}

.logo-img {
  height: 24px;
  margin-top: 14px;
  padding-right: 10px;
}

.nav-text {
  font-family: inter;
  color: #fff;
}

.card {
  display: flex;
  padding: 60px 40px;
  font-family: inter;
  justify-content: center;
  border-bottom: 1px solid #f0eeee;
}

.card-img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  margin-right: 20px;
}

.card-details{
  text-wrap: balance;
}

.card-location-details {
  display: flex;
}

.location-icon {
  width: 7px;
  height: 9.55px;
  margin: 21px 7px;
}

.location {
  margin-right: 20px;
}

.location-link {
  margin-top: 15px;
}

.place {
  margin-top: 0px;
  left: 184px;
  top: 136px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  color: #2B283A;

}